name: Android Macrobenchmark CI (Gradle)

on:
  workflow_call:
    inputs:
      api-level:
        description: 'API level of the platform and system image - e.g. 23, 33, 35-ext15, Baklava'
        required: true
        type: string
      system-image-api-level:
        description: 'API level of the system image - e.g. 34-ext10, 35-ext15. If not set the `api-level` input will be used.'
        required: false
        type: string
      target:
        description: 'target of the system image - e.g. default, google_apis, google_apis_ps16k, google_apis_playstore, google_apis_playstore_16k, aosp_atd, google_atd, android-wear, android-wear-cn, android-tv, google-tv, android-automotive, android-automotive-playstore or android-desktop'
        default: 'default'
        type: string
      arch:
        description: 'CPU architecture of the system image - x86, x86_64 or arm64-v8a'
        default: 'x86'
        type: string
      profile:
        description: 'hardware profile used for creating the AVD - e.g. `Nexus 6`'
        type: string
      cores:
        description: 'the number of cores to use for the emulator'
        default: 2
        type: string
      ram-size:
        description: 'size of RAM to use for this AVD, in KB or MB, denoted with K or M. - e.g. `2048M`'
        type: string
      heap-size:
        description: 'size of heap to use for this AVD in MB. - e.g. `512M`'
        type: string
      sdcard-path-or-size:
        description: 'path to the SD card image for this AVD or the size of a new SD card image to create for this AVD, in KB or MB, denoted with K or M. - e.g. `path/to/sdcard`, or `1000M`'
        type: string
      disk-size:
        description: 'disk size to use for this AVD. Either in bytes or KB, MB or GB, when denoted with K, M or G'
        type: string
      avd-name:
        description: 'custom AVD name used for creating the Android Virtual Device'
        default: 'test'
        type: string
      force-avd-creation:
        description: 'whether to force create the AVD by overwriting an existing AVD with the same name as `avd-name` - `true` or `false`'
        default: 'true'
        type: string
      emulator-boot-timeout:
        description: 'Emulator boot timeout in seconds. If it takes longer to boot, the action would fail - e.g. `300` for 5 minutes'
        default: '600'
        type: string
      emulator-port:
        description: 'Port to run emulator on, allows to run multiple emulators on the same physical machine'
        default: '5554'
        type: string
      emulator-options:
        description: 'command-line options used when launching the emulator - e.g. `-no-window -no-snapshot -camera-back emulated`'
        default: '-no-window -gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim'
        type: string
      disable-animations:
        description: 'whether to disable animations - true or false'
        default: 'true'
        type: string
      disable-spellchecker:
        description: 'whether to disable the Android spell checker framework, a common source of flakiness in text fields - `true` or `false`'
        default: 'false'
        type: string
      disable-linux-hw-accel:
        description: 'whether to disable hardware acceleration on Linux machines - `true` or `false` or `auto`'
        default: 'auto'
        type: string
      enable-hw-keyboard:
        description: 'whether to enable hardware keyboard - `true` or `false`.'
        default: 'false'
        type: string
      emulator-build:
        description: 'build number of a specific version of the emulator binary to use - e.g. `6061023` for emulator v29.3.0.0'
        type: string
      working-directory:
        description: 'A custom working directory - e.g. `./android` if your root Gradle project is under the `./android` sub-directory within your repository'
        type: string
      ndk:
        description: 'version of NDK to install - e.g. 21.0.6113669'
        type: string
      cmake:
        description: 'version of CMake to install - e.g. 3.10.2.4988404'
        type: string
      channel:
        description: 'Channel to download the SDK components from - `stable`, `beta`, `dev`, `canary`'
        default: 'stable'
        type: string
      pre-emulator-launch-script:
        description: 'custom script to run after creating the AVD and before launching the emulator - e.g. `./adjust-emulator-configs.sh`'
        type: string
      instrument-args:
        description: 'Extra arguments passed to instrumentation runner'
        default: ""
        type: string
      artifact-name:
        description: "Name of the uploaded benchmark artifact"
        default: "macrobenchmark-results"
        type: string
      baseline-branch:
        type: string
        default: main
      candidate-branch:
        type: string
        default: ""
      gradle-cache-readonly:
        description: |
          When 'true', existing entries will be read from the cache but no entries will be written.
          By default this value is 'false' for workflows on the GitHub default branch and 'true' for workflows on other branches.
        required: false
        default: ${{ github.event.repository != null && github.ref_name != github.event.repository.default_branch }}
        type: boolean

jobs:
  benchmark-android:
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Checkout branch (Baseline)
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.baseline-branch }}
          path: baseline

      - name: Checkout branch (Candidate)
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.candidate-branch != '' && inputs.candidate-branch || github.ref_name }}
          path: candidate

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          # By default, The setup-gradle action will only write to the cache from Jobs on the default (main/master) branch.
          # Jobs on other branches will read entries from the cache but will not write updated entries.
          cache-read-only: ${{ inputs.gradle-cache-readonly }}

      - name: Build APKs (Baseline)
        working-directory: ./baseline
        run: |
          chmod +x ./gradlew
          ./gradlew :app:assembleDemoBenchmark

      - name: Build APKs (Candidate)
        working-directory: ./candidate
        run: |
          chmod +x ./gradlew
          ./gradlew :app:assembleDemoBenchmark :benchmarks:assembleDemoBenchmark

      - name: Android Macrobenchmark CI
        uses: Frozen-Bytes/actions/android-macrobenchmark-ci@main
        with:
          api-level: ${{ inputs.api-level }}
          system-image-api-level: ${{ inputs.system-image-api-level }}
          target: ${{ inputs.target }}
          arch: ${{ inputs.arch }}
          profile: ${{ inputs.profile }}
          cores: ${{ inputs.cores }}
          ram-size: ${{ inputs.ram-size }}
          heap-size: ${{ inputs.heap-size }}
          sdcard-path-or-size: ${{ inputs.sdcard-path-or-size }}
          disk-size: ${{ inputs.disk-size }}
          avd-name: ${{ inputs.avd-name }}
          force-avd-creation: ${{ inputs.force-avd-creation }}
          emulator-boot-timeout: ${{ inputs.emulator-boot-timeout }}
          emulator-port: ${{ inputs.emulator-port }}
          emulator-options: ${{ inputs.emulator-options }}
          disable-animations: ${{ inputs.disable-animations }}
          disable-spellchecker: ${{ inputs.disable-spellchecker }}
          disable-linux-hw-accel: ${{ inputs.disable-linux-hw-accel }}
          enable-hw-keyboard: ${{ inputs.enable-hw-keyboard }}
          emulator-build: ${{ inputs.emulator-build }}
          working-directory: ${{ inputs.working-directory }}
          ndk: ${{ inputs.ndk }}
          cmake: ${{ inputs.cmake }}
          channel: ${{ inputs.channel }}
          pre-emulator-launch-script: ${{ inputs.pre-emulator-launch-script }}
          instrument-args: ${{ inputs.instrument-args }}
          artifact-name: ${{ inputs.artifact-name }}
          baseline-apk: "./baseline/app/build/outputs/apk/demo/benchmarkRelease/app-demo-benchmarkRelease.apk"
          candidate-apk: "./candidate/app/build/outputs/apk/demo/benchmarkRelease/app-demo-benchmarkRelease.apk"
          benchmark-apk: "./candidate/benchmarks/build/outputs/apk/demo/benchmarkRelease/benchmarks-demo-benchmarkRelease.apk"
